* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial bold;
	background: #000;     /* BACKGROUND NERO */
	color: #fff;
}

.header {
	padding: 1rem 0;
	max-width: 100vw;
	overflow: hidden;
}


.nav {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	padding: 0.5rem;

	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	background-color: #f5f5f5;

	justify-content: flex-start;
}


.nav::-webkit-scrollbar {
	display: none;
}
@media (min-width: 768px) {
	.nav {
		justify-content: center;
	}
}


/* LINK */
.nav-item {
	position: relative;
	text-decoration: none;
	color: #000;
	font-size: 1.15rem;
	text-transform: lowercase;
	padding: 0.4rem 0;
}

/* SOTTOLINEATURA ANIMATA */
.nav-item::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background: #000;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}

.nav-item:hover::after {
	transform: scaleX(1);
}

/* PAGINA ATTUALE */
.nav-item.active {
	background: #E5E6E4 ;
	color: #000;
	padding: 0.4rem 0.6rem;
	border-radius: 0;
}

.nav-item.active::after {
	display: none;
}

/* SEPARATORE | */
.sep {
	color: #fff;
	font-size: 1rem;
	user-select: none;
}
